<a href="https://colab.research.google.com/github/amrrahman1/Pre-processing-new-/blob/main/Pre_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [30]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [31]:
df = pd.read_csv('/content/drive/MyDrive/Sherlin machine learning/insurance (1).csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

1- Define features (X) and target (y)

In [24]:
X = df.drop(columns='charges')
y = df['charges']

2-Train test split the data to prepare for machine learning

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

3- Identify Each Feature Type:

Numrical : Age , BMI, Children, Charges.

Nominal : Sex, Smoker, Region.

4-Ordinal encode any ordinal features

In [33]:
from sklearn.compose import make_column_selector
cat_selector = make_column_selector(dtype_include='object')

In [34]:
#Selecting Catagoral data.
cat_data = X_train[cat_selector(X_train)]

In [35]:
# Importing One Hot Encoder :
from sklearn.preprocessing import OneHotEncoder
#instantiate one hot encoder
ohe_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
ohe_encoder.fit(cat_data)
cat_ohe = ohe_encoder.transform(cat_data)
cat_ohe

array([[0., 1., 1., ..., 1., 0., 0.],
       [1., 0., 1., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 0., 1.],
       ...,
       [0., 1., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 1.],
       [0., 1., 1., ..., 0., 0., 1.]])

5- Converting back to data frame.

In [40]:
scaler = StandardScaler()
pd.DataFrame(cat_ohe, columns=ohe_encoder.get_feature_names(cat_data.columns))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

      sex_female  sex_male  ...  region_southeast  region_southwest
0            0.0       1.0  ...               0.0               0.0
1            1.0       0.0  ...               1.0               0.0
2            0.0       1.0  ...               0.0               1.0
3            0.0       1.0  ...               1.0               0.0
4            1.0       0.0  ...               0.0               1.0
...          ...       ...  ...               ...               ...
998          1.0       0.0  ...               0.0               0.0
999          1.0       0.0  ...               1.0               0.0
1000         0.0       1.0  ...               0.0               0.0
1001         1.0       0.0  ...               0.0               1.0
1002         0.0       1.0  ...               0.0               1.0

[1003 rows x 8 columns]